#include "MyHeader.h"
#include "winres.h"

HORSE BITMAP horse.bmp
BEACH BITMAP beach.bmp
ASTROMEDICOMP BITMAP astromedicomp.bmp
CRICKET BITMAP cricket.bmp
FOOTBALL BITMAP football.bmp


MYMENU MENU DISCARDABLE
BEGIN
	MENUITEM "&Beach", IDM_BEACH
	MENUITEM "&Horse", IDM_HORSE
	MENUITEM "&Cricket", IDM_CRICKET
	MENUITEM "&Bootball", IDM_FOOTBALL
	MENUITEM "&Astromedicomp", IDM_ASTROMEDICOMP
	MENUITEM "&about ...", IDM_APPABOUT
END


ABOUT DIALOG DISCARDABLE  32,32,180,100
STYLE DS_MODALFRAME | WS_POPUP
FONT 8, "MS Sans Serif"

BEGIN
	DEFPUSHBUTTON "OK", IDOK, 66,80,50,14
	CTEXT "about", IDC_STATIC, 40,12,100,8
	CTEXT "Inspired from and dedicated to AstroMediComp ...", IDC_STATIC, 7,40,166,8
	CTEXT "OmkarAjagunde", IDC_STATIC, 7,62,166,8
END
	